@{
    ViewData["Title"] = "Error";
    Layout = "_Layout"; // Use your layout
}


<div class="container text-center py-5">
    <h1 class="text-danger display-1">Error</h1>
    <p class="lead">An unexpected error occurred.</p>
    <a href="/" class="btn btn-primary">Home Page</a>
</div>