@{
    ViewData["Title"] = "Server Error";
    Layout = "_Layout";
}

<div class="container text-center py-5">
    <h1 class="text-danger display-1">500</h1>
    <p class="lead">Something went wrong on our server.</p>
    <a href="/" class="btn btn-primary">Home Page</a>
</div>